  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-5 col-md-6 footer-info">
            <img src="{{ url_for('static', filename='img/logo-text-only.png') }}" alt="Defence-x 0 logo">
            <p>DefenceX conference: a chance for like-minded digital and agile people in Defence – those delivering or overseeing delivery of user-centred products and services – to get together and share ideas and best practice.</p>
          </div>


          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i> <a href="#">Home</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">About us</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Services</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Zone D, Ground floor<br>
              Main Building<br>
              Whitehall <br>
              <strong>Email:</strong> <a href="mailto:defencex0@digital.mod.uk">defencex0@digital.mod.uk</a><br>
            </p>

            <div class="social-links">
              <a href="https://www.twitter.com/digital4defence" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://github.com/defencedigital" target="_blank" class="github"><i class="fa fa-github"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; <strong>Crown Copyright</strong> (made by DDS)
      </div>
      <div class="copyright">
        &copy; Copyright <strong>TheEvent</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>