    <!-- JavaScript Libraries -->
    <script src="{{ url_for('static', filename='theme/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='theme/jquery/jquery-migrate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='theme/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='theme/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='theme/superfish/hoverIntent.js') }}"></script>
    <script src="{{ url_for('static', filename='theme/superfish/superfish.min.js') }}"></script>
    <script src="{{ url_for('static', filename='theme/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='theme/venobox/venobox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='theme/owlcarousel/owl.carousel.min.js') }}"></script>

    <!-- Contact Form JavaScript File -->
    <script src="contactform/contactform.js') }}"></script>

    <!-- Template Main Javascript File -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>