<!--==========================
      Schedule Section
    ============================-->
<section id="schedule" class="section-with-bg">
    <div class="container wow fadeInUp">
        <div class="section-header">
            <h2>Event Schedule</h2>
            <p>Check out the day's events</p>
        </div>

        <h3 class="sub-heading">The first part of the day is going to be a mixture of formal speakers, and show & tells
            by attendees. The second half of the day will then be a series of masterclasses and workshops, run as a tracked system (i.e. you have to pick which sessions you go to).</h3>

        <div class="tab-content row justify-content-center">

            <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">

                <div class="row schedule-item">
                    <div class="col-md-2"><time>10:30 AM</time></div>
                    <div class="col-md-10">
                        <h4>Welcome</h4>
                        <p>DDS welcomes you to the conference.</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>10:35 AM</time></div>
                    <div class="col-md-10">
                        <h4>Opening address</h4>
                        <p>Defence CIO Charlie Forte opens our day of activity. </p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>10:40 AM</time></div>
                    <div class="col-md-10">
                        <div class="speaker">
                            <img src="{{ url_for('static', filename='img/speakers/john-f.jpg') }}"
                                alt="Tom Copinger-Symes - talking head">
                        </div>
                        <h4><span>John Fitzpatrick</span></h4>
                        <p>Director for Digital Enablement, Ministry of Defence</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>11:00 AM</time></div>
                    <div class="col-md-10">
                        <h4>Show and tell #1</h4>
                        <p>Content TBC</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>11:20 AM</time></div>
                    <div class="col-md-10">
                        <h4>Show and tell #2</h4>
                        <p>Content TBC</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>11:40 AM</time></div>
                    <div class="col-md-10">
                        <h4>Show and tell #3</h4>
                        <p>DDS: Project R2-D2</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>12:00 PM</time></div>
                    <div class="col-md-10">
                        <h4>Show and tell #4</h4>
                        <p>Content TBC</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>12:20 PM</time></div>
                    <div class="col-md-10">
                        <h4>Show and tell #5</h4>
                        <p>Content TBC</p> 
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>12:20 PM</time></div>
                    <div class="col-md-10">
                        <h4>Foundry introduction and short brainstorm session</h4>
                        <p>An interactive introduction to the Digital Foundry, as announced by the Chief of the Defence Staff (CDS), General Sir Nick Carter, at the end of 2020. </p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>13:20 PM</time></div>
                    <div class="col-md-10">
                        <h4>Lunch break</h4>
                        <p>Bring your own lunch (since we're all remote). Sorry! </p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>13:50 PM</time></div>
                    <div class="col-md-10">
                        <h4>Workshop and Masterclass A</h4>
                        <p>On the topic of user-centred design (UCD): user research, service design, content design, interaction design, etc.</p>
                            <br /><p>or</p><br />
                        <h4>Workshop and Masterclass B</h4>
                        <p>On the topic of data: data analytics, data engineering, data science, performance analytics, etc.</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>14:20 PM</time></div>
                    <div class="col-md-10">
                        <h4>Workshop and Masterclass C</h4>
                        <p>On the topic of product management/ownership, delivery management, business analysis, etc.</p>
                            <br /><p>or</p><br />
                        <h4>Workshop and Masterclass D</h4>
                        <p>On the topic of tech: technical architecture, software development, DevSecOps, network security, etc.</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>14:50 PM</time></div>
                    <div class="col-md-10">
                        <h4>Closing address</h4>
                        <p>Time to find out what we've learnt and what happens next.</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>15:00 PM</time></div>
                    <div class="col-md-10">
                        <h4>Conference ends</h4>
                        <!-- <p>Join us at <a href="https://goo.gl/maps/FrxSyGdKMDgexm1T8">Market Hall, Victoria</a> for
                            post-conference beverages.</p> -->
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>