<!--==========================
      Schedule Section
    ============================-->
<section id="schedule" class="section-with-bg">
    <div class="container wow fadeInUp">
        <div class="section-header">
            <h2>Event Schedule</h2>
            <p>Check out the day's events</p>
        </div>

        <h3 class="sub-heading">The first part of the day is going to be a mixture of formal speakers, and show & tells
            by attendees. The second half of the day will then be a series of masterclasses and workshops, run as a tracked system (i.e. you have to pick which sessions you go to).</h3>

        <div class="tab-content row justify-content-center">

            <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">

                <div class="row schedule-item">
                    <div class="col-md-2"><time>10:30 AM</time></div>
                    <div class="col-md-10">
                        <h4>Welcome and outline of the day</h4>
                        <p>DDS welcomes you to the conference and outlines the day's agenda.</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>10:35 AM</time></div>
                    <div class="col-md-10">
                        <div class="speaker">
                            <img src="{{ url_for('static', filename='img/speakers/charlie-f.jpg') }}"
                                alt="John Fitzpatrick">
                        </div>
                        <h4><span>Opening address: Charlie Forte</span></h4>
                        <p>Defence CIO, Charlie Forte, opens our day of activity.</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>10:40 AM</time></div>
                    <div class="col-md-10">
                        <div class="speaker">
                            <img src="{{ url_for('static', filename='img/speakers/john-f.jpg') }}"
                                alt="John Fitzpatrick">
                        </div>
                        <h4><span>Keynote speaker: John Fitzpatrick</span></h4>
                        <p>Director Digital Enablement, Ministry of Defence</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>11:00 AM</time></div>
                    <div class="col-md-10">
                        <h4>Show and tell #1a: The digitisation of Veterans UK</h4>
                        <p>Veterans UK (part of DBS) are developing their first citizen-serving digital service in conjunction with Government Digital Services. Service Owner Tom Stewart presents the journey from concept to partial delivery.</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>11:00 AM</time></div>
                    <div class="col-md-10">
                        <h4>Show and tell #1b: MySERIES</h4>
                        <p>Maj Jim Douglas, Army Digital Services.</p>
                    </div>
                </div>
                
                <div class="row schedule-item">
                    <div class="col-md-2"><time>11:20 AM</time></div>
                    <div class="col-md-10">
                        <h4>Show and tell #2a: To Cluster, or Not to Cluster: Applying Machine Learning</h4>
                        <p>DE&S Data Services</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>11:20 AM</time></div>
                    <div class="col-md-10">
                        <h4>Show and tell #2b: Bullying and Harassment - case handling</h4>
                        <p>Florian Schratt, Digital Enablement</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>12:00 PM</time></div>
                    <div class="col-md-10">
                        <h4>Show and tell #3a: R2-D2</h4>
                        <p>DDS' Project R2-D2 is now in its Private Beta phase, having passed its <a href="https://www.gov.uk/service-standard-reports/readiness-reporting-and-deployability-discovery-alpha-assessment-report">Alpha assessment</a> late last year. Iain will talk through what it is, what we've been doing, and the series of firsts that we've managed to achieve. </p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>12:00 PM</time></div>
                    <div class="col-md-10">
                        <h4>Show and tell #3b: LE TacCIS</h4>
                        <p></p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>12:20 PM</time></div>
                    <div class="col-md-10">
                        <h4>Show and tell #4a: Air Engineers’ Toolkit – UI UX Journey</h4>
                        <p>DE&S</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>12:20 PM</time></div>
                    <div class="col-md-10">
                        <h4>Show and tell #4b: Redeveloping JSP604</h4>
                        <p>Marged Cother, Digital Enablement</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>12:40 PM</time></div>
                    <div class="col-md-10">
                        <h4>Show and tell #5a: Counter Drone developments</h4>
                        <p>Elliott Wilkes, DDS</p> 
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>12:40 PM</time></div>
                    <div class="col-md-10">
                        <h4>Show and tell #5b: How 90 Signals Unit have implemented Agile practices</h4>
                        <p>90SU</p> 
                    </div>
                </div>
                
                <div class="row schedule-item">
                    <div class="col-md-2"><time>13:00 PM</time></div>
                    <div class="col-md-10">
                        <h4>Lunch break</h4>
                        <p>Bring your own lunch (obviously)</p>
                    </div>
                </div>
                
                <div class="row schedule-item">
                    <div class="col-md-2"><time>13:30 PM</time></div>
                    <div class="col-md-10">
                        <h4>Digital Foundry: Introduction and Discovery</h4>
                        <p>Rich Crowther, Head of DDS, leads an introduction to the Digital Foundry, an initiative announced by the Chief of the Defence Staff (CDS), General Sir Nick Carter, at the end of 2020. </p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>13:45 PM</time></div>
                    <div class="col-md-10">
                        <h4>Workshops introduction</h4>
                        <p>Robin Riley, DDS</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>13:50 PM</time></div>
                    <div class="col-md-10">
                        <h4>Workshop 1a</h4>
                        <p>On the topic of user-centred design (UCD): user research, service design, content design, interaction design, etc.</p>
                        <p>Speakers from DDS (User Research) and Dig Enablement (Content)</p>
                            <br /><p>or</p><br />
                        <h4>Workshop 1b</h4>
                        <p>On the topic of data: data analytics, data engineering, data science, performance analytics, etc.</p>
                        <p>Speakers from the AI CoE</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>14:20 PM</time></div>
                    <div class="col-md-10">
                        <h4>Workshop 2a</h4>
                        <p>On the topic of product management/ownership, delivery management, business analysis, etc.</p>
                        <p>Speakers from DDS (Product) and DE&S Digital</p>
                            <br /><p>or</p><br />
                        <h4>Workshop 2b</h4>
                        <p>On the topic of tech: technical architecture, software development, DevSecOps, network security, etc.</p>
                        <p>Speakers from DDS (Tech for technologists) and DE&S Digital (DevOps)</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>14:50 AM</time></div>
                    <div class="col-md-10">
                        <div class="speaker">
                            <img src="{{ url_for('static', filename='img/speakers/tom-c-s.jpg') }}"
                                alt="Major General Tom Copinger-Symes">
                        </div>
                        <h4><span>Clsoing address: Maj Gen Tom Copinger-Symes</span></h4>
                        <p>Time to find out what we've learnt and what happens next with Director Strategy and Military Digitisation, Ministry of Defence</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>15:00 PM</time></div>
                    <div class="col-md-10">
                        <h4>Conference ends</h4>
                        <!-- <p>Join us at <a href="https://goo.gl/maps/FrxSyGdKMDgexm1T8">Market Hall, Victoria</a> for
                            post-conference beverages.</p> -->
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>