<!--==========================
      Speakers Section
    ============================-->
<section id="speakers" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>Keynote speakers</h2>
            <p>Coming soon...</p>
        </div>

        <!-- <div class="row justify-content-center">
            <div class="col-6">
                <div class="speaker">
                    <img src="{{ url_for('static', filename='img/speakers/jason-caplin.webp') }}" alt="Jason Caplin"
                        class="img-fluid">
                    <div class="details">
                        <h3><a href="https://blog.barnar.do/@xcaplin" target="_blank">Jason Caplin</a></h3>
                        <p>Former Chief Digital Officer, Barnardos</p>
                        <div class="social">
                            <a href="https://twitter.com/xcaplin" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://blog.barnar.do/@xcaplin" target="_blank"><i class="fa fa-medium"></i></a>
                            <a href="https://www.linkedin.com/in/jasoncaplin/" target="_blank"><i
                                    class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="speaker">
                    <img src="{{ url_for('static', filename='img/speakers/jason-caplin.webp') }}" alt="Jason Caplin"
                        class="img-fluid">
                    <div class="details">
                        <h3><a href="https://blog.barnar.do/@xcaplin" target="_blank">Jason Caplin</a></h3>
                        <p>Former Chief Digital Officer, Barnardos</p>
                        <div class="social">
                            <a href="https://twitter.com/xcaplin" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://blog.barnar.do/@xcaplin" target="_blank"><i class="fa fa-medium"></i></a>
                            <a href="https://www.linkedin.com/in/jasoncaplin/" target="_blank"><i
                                    class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        
    </div>

</section>