<!--==========================
      Speakers Section
    ============================-->
<section id="speakers" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>Keynote speaker</h2>
            <!-- <p></p> -->
        </div>

        <div class="row justify-content-center">
            <div class="col-6">
                <div class="speaker">
                    <img src="{{ url_for('static', filename='img/speakers/charlie-f-lg.jpg') }}" alt="Charlie Forte"
                        class="img-fluid">
                    <div class="details">
                        <h3>Charlie Forte</a></h3>
                        <p>Defence CIO</p>
                        <div class="social">
                            <a href="https://twitter.com/fortec57_forte" target="_blank"><i
                                    class="fa fa-twitter"></i></a>
                            <a href="https://uk.linkedin.com/in/charles-forte-8a721415" target="_blank"><i
                                    class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-6">
                <div class="speaker">
                    <img src="{{ url_for('static', filename='img/speakers/jfp-lg.jpg') }}" alt="John Fitzpatrick"
                        class="img-fluid">
                    <div class="details">
                        <h3>John Fitzpatrick</a></h3>
                        <p>Director Digital Enablement</p>
                        <div class="social">
                            <a href="https://twitter.com/FitzDigitalGov" target="_blank"><i
                                    class="fa fa-twitter"></i></a>
                            <a href="https://uk.linkedin.com/in/john-fitzpatrick-37409a18/" target="_blank"><i
                                    class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

</section>