    <!--==========================
      Venue Section
    ============================-->
    <section id="venue" class="wow fadeInUp">

        <div class="container-fluid">
  
          <div class="section-header">
            <h2>Event Venue</h2>
            <p>A link will be sent to the email address with which you signed up.</p>
          </div>
  
          <!-- <div class="row no-gutters">
            <div class="col-lg-6 venue-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.8836116618318!2d-0.1455124840873544!3d51.497003279633326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876052101ead8e9%3A0x1c5df65964f59b66!2sNova%20South!5e0!3m2!1sen!2suk!4v1580839012442!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
  
            <div class="col-lg-6 venue-info">
              <div class="row justify-content-center">
                <div class="col-11 col-lg-8">
                  <h3>NCSC, Nova South</h3>
                  <p>The National Cyber Security Centre (NCSC) has been kind enough to let us use their conference centre, boasting a capacity of 64 and a break-out space. It's located a stone's throw from Victoria train station (and a slightly more impressive throw from the coach station), London.</p>
                </div>
              </div>
            </div>
          </div>
  
        </div>
  
        <div class="container-fluid venue-gallery-container">
          <div class="row no-gutters">
  
            <div class="col-4">
              <div class="venue-gallery">
                <a href="{{ url_for('static', filename='img/venue-gallery/1.jpg') }}" class="venobox" data-gall="venue-gallery">
                  <img src="{{ url_for('static', filename='img/venue-gallery/1.jpg') }}" alt="" class="img-fluid">
                </a>
              </div>
            </div>
  
            <div class="col-4">
              <div class="venue-gallery">
                <a href="{{ url_for('static', filename='img/venue-gallery/2.jpg') }}" class="venobox" data-gall="venue-gallery">
                  <img src="{{ url_for('static', filename='img/venue-gallery/2.jpg') }}" alt="" class="img-fluid">
                </a>
              </div>
            </div>
  
            <div class="col-4">
              <div class="venue-gallery">
                <a href="{{ url_for('static', filename='img/venue-gallery/3.jpg') }}" class="venobox" data-gall="venue-gallery">
                  <img src="{{ url_for('static', filename='img/venue-gallery/3.jpg') }}" alt="" class="img-fluid" style="overflow: hidden;">
                </a>
              </div>
            </div>
  
            <div class="col-4">
              <div class="venue-gallery">
                <a href="{{ url_for('static', filename='img/venue-gallery/4.jpg') }}" class="venobox" data-gall="venue-gallery">
                  <img src="{{ url_for('static', filename='img/venue-gallery/4.jpg') }}" alt="" class="img-fluid">
                </a>
              </div>
            </div>
  
            <div class="col-4">
              <div class="venue-gallery">
                <a href="{{ url_for('static', filename='img/venue-gallery/5.jpg') }}" class="venobox" data-gall="venue-gallery">
                  <img src="{{ url_for('static', filename='img/venue-gallery/5.jpg') }}" alt="" class="img-fluid">
                </a>
              </div>
            </div>
  
            <div class="col-4">
              <div class="venue-gallery">
                <a href="{{ url_for('static', filename='img/venue-gallery/6.jpg') }}" class="venobox" data-gall="venue-gallery">
                  <img src="{{ url_for('static', filename='img/venue-gallery/6.jpg') }}" alt="" class="img-fluid">
                </a>
              </div>
            </div>
  
          </div>
        </div> -->
  
      </section>
    