<!DOCTYPE html>
<html lang="en">
{% include 'snippets/head.html' %}
<body>
  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container wow fadeIn">
      <img class="mb-4 pb-0" src="{{ url_for('static', filename='img/DEFEnCEx0-DONE-logo.png') }}">
      <p class="mb-4 pb-0">The MoD's first pan-Defence digital show & tell and unconference</p>
      <p class="mb-4 pb-0">Thanks for joining the rebel alliance and helping us have such a fantastic day!</p>
<!--      <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>-->
<!--      <a href="https://surveys.mod.uk/index.php/323895?lang=en" target="_blank" class="about-btn scrollto">Apply for a ticket</a>-->
    </div>
  </section>

{% include 'snippets/footer.html' %}

{% include 'snippets/scripts.html' %}

</body>

</html>
